<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<p>
  <strong>Completed:</strong>
  <label>
    <input type="checkbox" onclick="return false;" <%= @task.completed ? "checked=checked" : "" %>>
    <span class="checkmark"></span>
  </label>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
